:root {
  --color-primary: hsl(163, 100%, 37%); /* #00bf89 */
  --color-secondary: hsl(204, 100%, 42%); /* #0083d8 */
  --color-accent-1: hsl(234, 48%, 56%); /* #5964c4 */
  --color-accent-2: hsl(2, 84%, 63%); /* #f0544f */
  --color-light: hsl(174, 100%, 96%); /* #ebfffd */
  --color-dark: hsl(210, 28%, 38%); /* #45607b */
  --color-black: hsl(180, 4%, 9%); /* #161818 */
  --color-white: hsl(174, 100%, 96%); /* #ebfffd */

  // Dark Theme Colors
  &.dark-theme {
    --color-light: #ebfffd;
    --color-black: #161818;
    --color-white: #ebfffd;
  }
  // Light Theme Colors
  &.light-theme {
    --color-light: #45607b;
    --color-white: #161818;
    --color-black: #ebfffd;
  }
}

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-accent-1: var(--color-accent-1);
$color-accent-2: var(--color-accent-2);
$color-light: var(--color-light);
$color-dark: var(--color-dark);
$color-black: var(--color-black);
$color-white: var(--color-white);
$hueRotate: var(--hue-rotate);

// * {
//   // Dark Theme Colors
//   &.dark-theme {
//     --hue-rotate: 0;
//     filter: hue-rotate(0);
//   }

//   // Light Theme Colors
//   &.light-theme {
//     --hue-rotate: 180 !important;
//     filter: hue-rotate(180deg) !important;
//   }
// }
